@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #54BD95;
  --color-background-dark: #161C28;
  --color-background-light: #F9F8FE;
  --color-text-dark: #191A15;
  --color-text-grey: #A6A6A6;
  
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
  margin: 0;
  padding: 0;
}